@page "/ManageCourse"

<h2>Manage Courses</h2>
@* // Add code in razor .cs first and based on that use code here *@
@if (Teacher == null) //Authenticate this to only show for teachers 
{
	<p><em>Loading...</em></p>
}
else
{
<table class=" table table-light">
	<thead class="table-primary">
		<tr>
			<th></th>
			<th>Id</th>
			<th>CourseName</th>
			<th>CourseDescription</th>
			<th>StartDate</th>
			<th>EndDate</th>
		</tr>
		</thead>
		<tbody>
			@foreach(var course in Courses)
			{
				<tr>
				<td>@course.Id</td>
				<td>@course.CourseName</td>
				<td>@course.CourseDescription</td>
				<td>@course.StartDate</td>
				<td>@course.EndDate</td>
				</tr>
			}
		</tbody>
</table>
}
@code {

}
