@page "/modules"
@inject HttpClient HttpClient
@inherits ComponentBase

@using LMSGroup3.Shared.Domain.DTOs;


@if (modules == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @* <th>ID</th> *@
                <th>Module Name</th>
                @* <th>Start Date</th> *@
                <th>ModuleName</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var module in Module)
            {
                <tr>
                    @* <td>@course.Id</td> *@
                    <td>@module.ModuleId</td>
                    <td>@module.ModuleName</td>

                    @* <td>@module.StartDate.ToShortDateString()</td> *@
                    @* <td>@course.ModuleId</td> *@
                    @* <td>@course.ModuleName</td> *@


                </tr>
                <tr>
                    <authorizeview>
                        <authorized>
                            @* <a class="nav-link btn btn-link float-right" href="modules?courseId=@module.Id">Modules</a> *@

                            <a class="nav-link btn btn-link float-right" href="activities?moduleId=@module.ModuleId">Activity</a>

                            @* <a class="nav-link btn btn-link" href="activities">Activity</a> *@
                        </authorized>
                    </authorizeview>
                </tr>
            }
        </tbody>
    </table>
}
@code{

    private List<ModuleDto> Modules;
    private int CourseId = 3;
    protected override async Task OnInitializedAsync()
    {
        Modules = await HttpClient.GetFromJsonAsync<List<ModuleDto>>($"api/Course/GetModulesByCourse?courseid={CourseId}");
    }
}