@page "/courses/modules"
@using LMSGroup3.Shared.Domain.DTOs
@inject HttpClient HttpClient
@inherits ComponentBase
<h3>Module List</h3>

@if (modules == null || modules.Length == 0)
{
    <p><em>No modules</em></p>
}
else
{
<table class="table">
    <thead>
    <tr>
        <th scope="col">ModuleName</th>
        <th scope="col">ModuleDescription</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var module in modules)
        {
        <tr>
            <td scope="row">@module.ModuleName</td>
            <td scope="row">@module.ModuleDescription</td>
            <td scope="row">@module.StartDate</td>
            <td scope="row">@module.EndDate</td>
            <td scope="row">
                <a href="@($"moduledetails/{module.Id}")" class="btn btn-outline-primary">Details</a>
                        <AuthorizeView Roles="Teacher">
                            <Authorized>
                                <a href="@($"moduleupdate/{module.Id}")" class="btn btn-outline-primary">Update</a>
                                <a href="@($"moduledelete/{module.Id}")" class="btn btn-outline-primary">Delete</a>
                            </Authorized>
                        </AuthorizeView>
            </td>
         </tr>
            }
        </tbody>
 </table>
 }
 @code{
    public List<ModuleDto>? modules { get; set; }

 }
    


